<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<span class="container">
<body>
    <form th:action="@{/login}" method="post"> <!-- 로그인 요청을 POST 방식으로 보냄 -->
        <section>
			 <span class="login-container" th:classappend="${param.error} ? 'error'">
	            <img src="/img/icon/logo.png" alt="LOGO" class="logo">
	            <h1>Login</h1>
	            
	            <!-- 로그인 실패 시 오류 메시지 표시 -->
   				<div th:if="${param.error}" style="color: red;">
     				로그인에 실패했습니다. <br>
     				사용자 이름이나 비밀번호를 확인하세요.
   				</div>
	            <!-- 로그인 form -->
	            <span class="input-area">
	                <form th:action="@{/login}" method="post"> <!-- 로그인 요청을 POST 방식으로 보냄 -->
				        <div>
                            <input type="text" id="username" name="username" placeholder="ID" required /> <!-- 사용자 이름 입력 필드 -->
                        </div>
                        <div>
                            <input type="password" id="password" name="password" placeholder="Password" required /> <!-- 비밀번호 입력 필드 -->
                        </div>
                        <div>
                            <button class= "login-button" type="submit">Login</button> <!-- 로그인 버튼 -->
                        </div>
                        <div>
                            <!-- 회원가입 페이지로 이동하는 버튼 -->
                            <button class= "signup-button" type="button" onclick="location.href='/signup'">Sign Up</button>
                        </div>
				    </form>
	            </span>
	        </span>
    	</section>
    </form>
</body>
</span>
</html>