<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
</head>
<body>
    <div class="message">
        <img src="/img/icon/warning.png" alt="warningicon" width="30" height="30">
        <h1>일반회원 계정으로 접근 권한이 없습니다.</h1>
        
        <!-- 메인 페이지로 돌아가는 버튼 -->
    <div class="button-container">
        <button onclick="location.href='http://localhost:8080/'">메인 페이지로 돌아가기</button>
    </div>
        
    </div>
</body>
</html>
