<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MediViewer</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://unpkg.com/cornerstone-core"></script>
	<script src="https://unpkg.com/cornerstone-tools"></script>
	<script src="https://unpkg.com/dicom-parser"></script>
	<script src="https://unpkg.com/cornerstone-wado-image-loader"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/list.css">
	<link rel="stylesheet" href="/css/container.css">
	<link rel="stylesheet" href="/css/modal.css">
</head>

<body class="body">

	<!-- list aside 영역 -->
	<aside class="aside_control_panel">
		<span class="menu_content">
				<span class="menu_icon_container">
					<img class="menu_icon" src="/img/icon/user.png" alt="">					
				</span>
				<label class="menu_label">사용자</label>
			</span>
		<span class="aside_control_menu_container">
			<span class="menu_content" id="calendarOpenSwitch">
				<span class="menu_icon_container">
					<img class="menu_icon" src="/img/icon/calendar.png" alt="">					
				</span>
				<label class="menu_label">기간 선택</label>
			</span>
			<span class="menu_content">
				<span class="menu_icon_container">
					<img class="menu_icon" src="/img/icon/logout.png" alt="">					
				</span>
				<label class="menu_label">로그아웃</label>
			</span>
		</span>
	</aside>
	<aside th:replace="~{/fragments/modal.html :: calendar-modal}"></aside>
	<figure th:replace="~{/fragments/modal.html :: preview-modal}"></figure>

	<!-- list main 영역 -->
	<main class="main_list">

		<!-- list 영역 -->
		<aside class="aside_date_query">
			<button type="button" name="btnDateDur" value="null">x</button>
			<button type="button" name="btnDateDur" value="1">1D</button>
			<button type="button" name="btnDateDur" value="3">3D</button>
			<button type="button" name="btnDateDur" value="7">7D</button>
			<button type="button" name="btnDateDur" value="30">30D</button>
		</aside>

		<div class="div_list_area">
			<section class="section_list_container">
				<div class="div_list_control_panel">
					<div class="div_list_query_panel">
						<section>
							<span id="queryStringContainer">
								<input type="text" id="pid" placeholder="환자아이디를 입력하세요...">
							</span>

							<span id="queryStringContainer">
								<input type="text" id="pname" placeholder="환자명을  입력하세요...">
							</span>
							
							<select name="modality" id="modality">
							</select>

							<select name="status" id="status">
								<option value=0 >판독 상태</option>
								<option value=1 disabled>읽지않음</option>
								<option value=3 disabled>열람중</option>
								<option value=5 disabled>예비 판독</option>
								<option value=6 disabled>판독</option>
							</select>

							<button type="submit" id="doQuery">검색</button>
							<button type="reset" id="resetQuery">초기화</button>
						</section>

						<section>
							<button type="button">o</button>
							<button type="button">o</button>
							<select class="select_page_size" name="listPageSize" id="listPageSize" onselect="setListPageSize()">
								<option value=10 selected>10</option>
								<option value=20>20</option>
								<option value=50>50</option>
							</select>
							<label for="listPageSize">개 항목으로 보기</label>
						</section>
					</div>

					<section>
						<ul th:replace="~{/fragments/list.html :: patient-list}"></ul>
					</section>
				</div>
			</section>

			<div class="div_etc_area">
				<!-- history 영역 -->
				<section th:replace="~{/fragments/list.html :: hist-list}"></section>
				<!-- thumbnail 영역 -->
				<!-- 확대 버튼 누르면 모달창 나오게 만들기 모달은 이미지영역 / 코멘트 영역 포함 -->
				<span class="span_prev_img_container" id="previewImageContainer">
					<div class="div_prev_img" id="previewImage"></div>
					<button id="previewOpenSwitch" class="btn_prev_extend" onclick="testAxios()"></button>
				</span>
			</div>
		</div>
	</main>

	<script src="/js/commonAxios.js"></script>
	<script src="/js/listsController.js"></script>
	<script src="/js/historiesController.js"></script>
	<script src="/js/previewController.js"></script>
	<script src="/js/modalController.js"></script>
	<script src="/js/setQueryStringContainer.js"></script>
	<script src="/js/listSort.js"></script>
	<script src="/js/calendar.js"></script>
	<script>
		let isCalendarOpen = false;
		let isPreviewOpen = false;
		let totalCnt;
		let nowPage;
		const items = [];
		const histItems = [];
		const testImgItems = [];
		const histPData = [];
		const sortOrder = [];
		
		window.onload = () => {
			console.log("onLoad");
			
			getDefList();
		}
	</script>
</body>

</html>