<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediViewer</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <button id="gogo">
        시리즈키, 스터디 키 넘겨주기
    </button>
    <script>
        const serieskey = 2;
        const studykey = 17;
        
        document.getElementById('gogo').addEventListener('click', function() {
            window.location.href = `/view?studykey=${studykey}&serieskey=${serieskey}`; // 이동할 URL 설정
        });
    </script>
</body>

</html>
