<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Manipulation Tools</title>
    <link rel="stylesheet" href="/css/view.css">
</head>
<body class="vbody">

        <div class="left">
            <div id="thumbnailContainer"></div>

        </div>   

        <div class="right">
            <div class="btns">
                <button id="hFlip">좌우반전</button>
                <button id="invert">흑백반전</button>
                <button id="zoom">줌아웃</button>
                <button id="">윈도우 레벨</button>
                <button id="reset">초기화</button>
            </div>
            <div id="dicomImage" class="dicomImage"></div>
        </div>


</body>
    <script src="https://unpkg.com/cornerstone-core@2.3.0/dist/cornerstone.min.js"></script>
    <script src="https://unpkg.com/cornerstone-tools@6.0.10/dist/cornerstoneTools.min.js"></script>
    <script src="https://unpkg.com/cornerstone-wado-image-loader@3.0.0/dist/cornerstoneWADOImageLoader.min.js"></script>
    <script src="https://unpkg.com/dicom-parser@1.8.5/dist/dicomParser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="/js/stackImgLoad.js"></script>
   <script src="/js/easyButton.js"></script>
   <script src="/js/zoomButton.js"></script>
   

   <script>
    const series = [];
    const dcmPathLists = [];
    const thumbnails = [];
    let element; // 이미지데이터
	let imageIds = []; // 이미지들의 배열
	let currentIndex = 0; // 현재 시리즈 인덱스
	let isDragging = false; // 드래그 중인지 여부
	let lastMousePosition = { x: 0, y: 0 }; // 마지막 마우스 위치
	let currentImageIndex = 0; // 현재 이미지 인덱스
	let dcmList = { imageFileNames: [] }; // dcmList 변수 추가

    console.log("ododododod",thumbnails)

   
	</script>

   

</html>