@charset "UTF-8";


/* 기본 백그라운드 설정 */
body {
    background-color: #212121;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 큰 바운더리 */
.container {
    display: flex;
    align-items: center;
    width: 85%;
    height: 85%;
    padding: 20px;
    border: 3px solid #FF6347; 
    border-radius: 10px;
}

/* 상단 타이틀 (회원관리) */
h1 {
    color: rgba(169, 169, 169, 1); 
    font-size: 35px;
    text-align: left;
    margin-bottom: 850px;
    margin-left: 30px;
}

/* 테이블 컨테이너 */
.admin-container {
    width: 1400px;
    height: 500px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 200px;
    background-color: #505050; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    justify-content: center; 
    align-items: center; 
    overflow-y: auto;
}

/* 테이블 */
table {
    width: 90%;
  	margin: 0 auto;   
    font-weight: bold;
    font-size: 21px;
    border-collapse: collapse;
    border-color:  #505050;
    border-style: hidden;
    color: rgba(169, 169, 169, 1); 
}

th, td {
    padding: 15px;
    text-align: center;
    border-style: hidden;
    font-weight: bold;
}

th {
    font-weight: bold;
}

td {
    font-size: 18px;
}

/* 삭제 버튼 */
button {
    background: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: #FFA07A;
}

/* 에러 메시지 스타일 */
.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}
