.studylist_header {
	display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    color: #afafaf;
    font-weight: bold;
}

.studylist_container {
	padding: 0;
	list-style: none;
	width: 100%;
	text-align: center;
    height: 45vh;
    overflow: scroll;
}

.studylist_container li {
	margin-bottom: 1.2vh;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.studylist_container span li:hover {
	background-color: rgb(128, 0, 64);
}

.w5 {
	width: 5%;
}

.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.span_study_desc {
	min-width: 35%;
	width: auto;
	max-width: 43%;
}

.section_history_area {
	padding: 1%;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%
}

.div_history_info {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}