.studylist_header {
	display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    color: #afafaf;
    font-weight: bold;
}

.studylist_container {
	padding: 0;
	list-style: none;
	width: 100%;
	text-align: center;
    height: 45vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

/* 크롬, 사파리, 엣지용 스크롤바 스타일 */
.studylist_container::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.studylist_container::-webkit-scrollbar-thumb {
  background-color: #FF6347; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

.studylist_container::-webkit-scrollbar-track {
  background-color: #505050; /* 스크롤바 배경 */
}

.studylist_container li {
	margin-bottom: 1.2vh;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.studylist_container span li:hover {
	background-color: rgb(128, 0, 64);
}

.w5 {
	width: 5%;
}

.w8 {
	width: 8%;
}

.w10 {
	width: 10%;
}

.span_study_desc {
	min-width: 35%;
	width: auto;
	max-width: 43%;
}

.section_history_area {
	padding: 1%;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%
}

.div_history_info {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}