.main_list {
	margin: 0;
	display: flex;
	flex-direction: row;
	/*background-color: #c5f8b1;*/
	background-color: #505050;
	color: #fff;
}

.aside_date_query {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background-color: rgb(248, 198, 178);*/
	background-color: #505050;
	margin-top: 3.3%;
}

.aside_date_query button {
	width: 90%;
	aspect-ratio: 1 / 1;
	border: none;
	border-radius: 50%;
	/*background-color: cyan;*/
	background-color: #FF6347;
	color: #fff;
	margin: 10% 2% 5%;
}

.div_list_area {
	height: 100%;
}

.section_list_container {
	display: flex;
	flex-direction: row;
	/*background-color: rgb(176, 250, 246);*/
	height: 66%;
}

.div_list_control_panel {
	padding: 1%;
	width: 85vw;
}

.div_list_query_panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.select_page_size {
	appearance: none;
}

.div_etc_area {
	margin-top: 1%;
	display: flex;
	flex-direction: row;
	height: 32%;
}

.span_prev_img_container {
	width: 33%;
	height: 100%;
	background-color: aliceblue;
}

.btn_prev_extend {
    position: absolute;
    bottom: 8vh;
    right: 3.5vw;
    z-index: 3;
    
    /* 버튼 스타일 */
    width: 3vw;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%; /* 둥근 버튼 */
    background-color: transparent;
    background-image: url('/img/icon/zoomin.png');
    background-size: 60%; /* 아이콘 크기 조정 */
    background-position: center;
    background-repeat: no-repeat;
    
    /* 마우스 오버 시 변화 */
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.btn_prev_extend:hover {
    background-color: rgb(192, 192, 192); /* 마우스 오버 시 배경에 약간의 색상 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 */
}