@charset "UTF-8";

/*기본 백그라운드 설정*/
body {
    background-color: #212121;
    color: lightgrey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 큰 바운더리 */
section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 90%;
}

/* 큰 바운더리 */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    padding: 20px;
    border: 3px solid #FF6347; 
    border-radius: 10px;
}

/* 로그인 컨테이너 */
.login-container {
	width: 500px;
	height: 380px;
    padding: 20px;
    background-color: #505050;
    border:3px solid rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    text-align: center;
}

/* 로그인 오류가 생겼을 때 로그인 container 높이 증가 */
.login-container.error {
    height: 430px; 
}

/* 로그인 페이지 상단 로고 */
.logo {
	width: 300px;
}

/* 로그인 입력 area */
.input-area {
	margin-bottom: 30px;
}

/* 로그인 입력 부분 */
.input-area input {
	width: 95%;
	padding: 10px;
	margin: 8px 0;
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 5px;
	box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
}

/* 로그인 버튼 */
.login-button {
	font-size: 15px;
	background-color: rgba(169, 169, 169, 1);
	color: #505050;
	width: 85px;
	height: 35px;
	text-align: center;
	border-radius: 5px;
	margin-top: 13px;
}


.login-button:hover {
	background-color:  rgba(217, 217, 217, 1);
}


/* 회원가입 버튼*/
.signup-button {
	font-size: 15px;
	background-color: rgba(169, 169, 169, 1);
	color: #505050;
	width: 80px;
	height: 35px;
	text-align: center;
	border-radius: 5px;
	margin-top: 3px;
}

.signup-button:hover {
	background-color:  rgba(217, 217, 217, 1);
}

h1 {
	color: rgba(169, 169, 169, 1);
	text-align: left;
	padding-left: 20px;
}

div {
	margin-bottom: 5px;
}


