.aside_modal_area {
	position: absolute;
	left: 8vw;
	width: 16.1vw;
	height: 60vh;
	background-color: tomato;
	z-index: 10;
	display: none;
}

.date_area {
	margin: 4% 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.date_container {
	margin-top: 1vh;
	position: relative;
	width: auto;
}

.label_date {
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 12px;
	background-color: tomato;
	padding: 0 5px;
	pointer-events: none;
}

.input_date_ro {
	margin: 0 6px;
    background-color: tomato;
    border: solid 1px black;
    padding: 8px;
    width: 80%;
}

.preview_modal_area {
	position: absolute;
	bottom: 7vh;
	right: 2vw;
	width: 75vw;
	height: 70vh;
	background-color: rgb(128, 128, 255);
	z-index: 20;
	display: none;
}

.btn_prev_reduce {
    position: absolute;
    top: 66vh;
    left: 73vw;
	background-image: url('/img/icon/zoomout.png');
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}