/* 기본 스타일 */
* {
    color: #fff;
    font-size: 13px;
}

.vbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4% 2%;
    padding: 0;
    background-color: #212121;
    overflow: hidden; /* 전체 스크롤 방지 */
}

/* 상단 바 스타일 */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    padding: 10px 0;
}

#mainImg {
    width: 250px;
    margin-left: 1%;
    object-fit: cover;
}

/* 버튼 스타일 */
.btns {
    display: flex;
    justify-content: center;
    margin-right: 20%;
}

.btns button {
    width: 100px;
    height: 60px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.btns button img {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

.btns button:hover {
    background-color: rgba(255, 99, 71, 0.2);
    border: 2px solid #FF6347;
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}

/* 메인 콘텐츠 레이아웃 */
.main-content {
    display: flex;
    margin-top: 20px;
}

/* 썸네일 영역 */
.left {
    width: 15%;
    background-color: #505050;
    overflow-y: scroll;
    max-height: 720px; /* 뷰포트 높이와 맞춤 */
}

#thumbnailContainer {
    display: flex;
    flex-wrap: wrap;
}

#thumbnailContainer::-webkit-scrollbar {
    width: 8px;
}

#thumbnailContainer::-webkit-scrollbar-thumb {
    background-color: #FF6347;
    border-radius: 10px;
}

#thumbnailContainer::-webkit-scrollbar-track {
    background-color: #505050;
}

/* DICOM 이미지 표시 영역 */
.right {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease;
}

.dicomImage {
    width: 100%;
    height: 720px;
    background-color: #333;
}

/* 시리즈 보기 모드 */
.series-view-active .left {
    display: none;
}

.series-view-active .right {
    width: 100%;
}

#renderBarContainer {
    position: fixed;
    display: none;
    top: 150px;
    right: 700px;
}
